In [1]:
range(0,10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range2,22))

SyntaxError: invalid syntax (<ipython-input-5-97ffe461283c>, line 1)

In [9]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [10]:
address.split('o')

['T', 'ky', ',Japan']

In [11]:
address.upper()

'TOKYO,JAPAN'

In [12]:
name='Taro'

In [13]:
name.upper()

'TARO'

In [14]:
len(name)

4

In [16]:
len([10,20,30])

3

26 メッソド

In [18]:
address

'Tokyo,Japan'

In [19]:
address.index('T')

0

In [20]:
address.index('p')

8

In [23]:
address.index('o')

1

In [25]:
address.lower()

'tokyo,japan'

In [26]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [27]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 12, 31)
result = date_b - date_a
print(result)

365 days, 0:00:00

In [28]:
date_a

datetime.date(2008, 1, 1)

In [29]:
date_a.year

2008

In [31]:
date_a.weekday()

1

括弧あり：何らかの処理をする　メッソド　
括弧なし：データにアクセスするだけ　属性

In [33]:
birthday=date(2017,5,10)

In [34]:
date_c=date.today()

In [35]:
life=date_c-birthday

In [36]:
print(life)

7 days, 0:00:00

In [37]:
birthday=date(1996,11,20)

In [38]:
date_c=date.today()

In [39]:
life=date_c-birthday

In [40]:
print(life)

7483 days, 0:00:00

In [41]:
tmp=date.today()

In [42]:
tmp

datetime.date(2017, 5, 17)

In [43]:
tmp.weekday()

2

In [44]:
tmp=date(1994,1,1)

In [45]:
date.today()

datetime.date(2017, 5, 17)

In [46]:
date_a.today()

datetime.date(2017, 5, 17)